*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

@font-face {
    font-family: "NetflixSansRegular";
    src: url(fonts/NetflixSansRegular.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansBlack";
    src: url(fonts/NetflixSansBlack.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansBold";
    src: url(fonts/NetflixSansBold.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansIcon";
    src: url(fonts/NetflixSansIcon.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansLight";
    src: url(fonts/NetflixSansLight.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansMedium";
    src: url(fonts/NetflixSansMedium.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansThin";
    src: url(fonts/NetflixSansThin.ttf) format('truetype');
}

#main{
    border-style: solid;
    border-color: black;
}

#video-container{
    /* width: 100%;
    height:67.75rem; */
    border-style: solid;
    border-color: green;
    position: relative;
    width: 100%;
    /* height: 0; */
}

#maintrailer{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#header{
    display:flex;
    align-items: center;
    background-color: #000;
    position:sticky;
    top:0;
    z-index: 2;
    /* background: none; */
}

#titleimage{
    display: inline-block;
    margin-top: 0.2%;
    margin-left: 1%;
    margin-right: 2%;
    width:10%;
    height: 1%;
}

#browse{
    display: none;
    width:70%;
    justify-content: flex-start;
    font-family: NetflixSansLight;
    text-align: center;
}

#browse img{
    width:5%;
    cursor: pointer;
}

#browse ul li a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

#navbar1{
    display:inline-block;
    width: 70%;

}

#navbar1list{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}


#navbar2{
    display:flex;
    align-items: center;
    width: 20%;
}

#icons{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


#navbar2 img{
    display:inline-block;
    width: 13%;
    cursor: pointer;
}

#arrow{
    width:20%;
    display: flex;
    justify-content: flex-start;
}

#arrow img{
    width: 20%;
}

#navbar1 ul li{
    font-family: NetflixSansLight;
    background-color: #000;
    text-align: center;
    padding-right: 2%;
}

#navbar1 ul li a{
    text-decoration: none;
    color: white;
    line-height: 10px;
}


.section{
    height:11rem;
    width:100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.section::-webkit-scrollbar{
    width:0;
    height: 10px;
    background: transparent;
}

.section::-webkit-scrollbar-track{
    background: black;
}

.section::-webkit-scrollbar-thumb{
    background: transparent;

}

.section::-webkit-scrollbar-thumb:hover{
    background: rgb(97, 86, 86);
    border-radius: 5px;
}



.sectionimage{
    display: inline-block;
    width:100%;
    height: 100%;
    border-radius: 2%;
    margin-right: 0.25%;
    cursor: pointer;
}

#trendingtitle{
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#awardwinningsection{
    margin-bottom: 10rem;
    /* border: blue;
    border-style: solid; */
}

.title{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
    cursor: pointer;
}
 
#footer{
    width: 82.5%;
    margin-left: 17.5%;
    height: 15rem;
    border-style: solid;
    border-color: greenyellow; 
}

#footericons{
    height: 16%;
    width:12%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5%;
    border-style: solid;
    border-color: white; 
}

#footericons img{
    width: 40%;
    height: 100%;
    cursor: pointer;
    margin-right: 2%;
}

.footerlistcontainer{
    font-size: 0;
}

.footerlist {
    border-style: solid;
    border-color: white; 
    width: 25%;
    height: 25%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; 
}

.footerlist ul {
    font-family: NetflixSansRegular;
    list-style-type: none;
}

.footerlist ul li {
    margin-bottom: 5%;
}

.footerlist ul li a{
    text-decoration: none;
    color:gray;
} 

@media (min-width: 576px) {
    .footerlist {
      width: 50%;
      font-size: 0.25rem;
    }
  }

  @media (min-width: 768px) {
    .footerlist {
      width: 33.33%;
      font-size: 0.5rem;
    }
  }

  @media (min-width: 992px) {
    .footerlist {
      width: 25%;
      font-size: 1.5rem;
    }
  }
