*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "NetflixSansRegular";
    src: url(fonts/NetflixSansRegular.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansBlack";
    src: url(fonts/NetflixSansBlack.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansBold";
    src: url(fonts/NetflixSansBold.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansIcon";
    src: url(fonts/NetflixSansIcon.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansLight";
    src: url(fonts/NetflixSansLight.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansMedium";
    src: url(fonts/NetflixSansMedium.ttf) format('truetype');
}

@font-face {
    font-family: "NetflixSansThin";
    src: url(fonts/NetflixSansThin.ttf) format('truetype');
}

#main{
    border-style: solid;
    border-color: black;
}

#video-container{
    width: 100%;
    height:40rem;
    border-style: solid;
    border-color: green;
}


#header{
    display:flex;
    align-items: center;
    background-color: #000;
    position:sticky;
    top:0%;
}

#titleimage{
    display: inline-block;
    margin-top: 0.2%;
    margin-left: 1%;
    margin-right: 2%;
    width:10%;
    height: 1%;
}


#navbar1{
    display:inline-block;
    width: 70%;

}

#navbar1list{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}


#navbar2{
    display:flex;
    align-items: center;
    width: 18%;
}

#icons{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}


#navbar2 img{
    display:inline-block;
    width: 13%;
}

#arrow{
    width:20%;
    display: flex;
    justify-content: flex-start;
}

#arrow img{
    width: 20%;
}

/* #searchicon{
    width:6%;
    height:50%;
}

#notificon{
    margin-top: 1%;
    width:4%;
    height:35%;
}

#profileicon{
    border-radius:8%;
    width:4%;
    height:40%;
    margin-right: 1%;
}

#caret{
    width:2%;
    height:26%;
    margin-right: 9%;
} */



#navbar1 ul li{
    font-family: NetflixSansLight;
    background-color: #000;
    text-align: center;
    padding-right: 2%;
}

#navbar1 ul li a{
    text-decoration: none;
    color: white;
    line-height: 10px;
}

#trending{
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#trendingsection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}


#newreleases{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#newreleasessection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#continuewatching{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#contineuwatchingsection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#actionmovies{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#actionmoviessection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#watchagain{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#watchagainsection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#animation{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#animationsection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#kdramas{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#kdramassection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}

#awardwinning{
    margin-top: 3.5%;
    background-color: black;
    font-family: NetflixSansLight;
    color:white;
    padding-left: 2%;
    padding-bottom: 0.5%;
    padding-top: 1%;
}

#awardwinningsection{
    height:10rem;
    border-style: solid;
    border-color: blue;
}